@import "tailwindcss";
@plugin "daisyui";



/* .custom-modal{
    width : 200px;
    height: 180px;
    background-color: lightseagreen;
    position: absolute;
    top: 0;
    bottom:2rem;
    overflow: hidden;
} */